<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Individual expense ledger #<%= @individual_expense_ledger.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/individual_expense_ledgers" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link individual_expense_ledger start -->
      <div class="col">
        <% if current_user == @individual_expense_ledger.user %>
          <a href="/individual_expense_ledgers/<%= @individual_expense_ledger.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit individual_expense_ledger
          </a>
        <% end %>
      </div>
      <!-- Edit link individual_expense_ledger end -->

      <!-- Delete link individual_expense_ledger start -->
      <div class="col">
        <% if current_user == @individual_expense_ledger.user %>
          <a href="/delete_individual_expense_ledger/<%= @individual_expense_ledger.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete individual_expense_ledger
          </a>
        <% end %>
      </div>
      <!-- Delete link individual_expense_ledger end -->
    </div>

    <dl>
      <dt>
        Expense
      </dt>
      <!-- Display expense_id start -->
      <dd>
        <% if @individual_expense_ledger.expense.present? %>
          <a href="/expenses/<%= @individual_expense_ledger.expense_id %>">
            <%= @individual_expense_ledger.expense.group_id %>
          </a>
        <% end %>
      </dd>
      <!-- Display expense_id end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <% if @individual_expense_ledger.user.present? %>
          <a href="/users/<%= @individual_expense_ledger.user_id %>">
            <%= @individual_expense_ledger.user.email %>
          </a>
        <% end %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Notes
      </dt>
      <!-- Display notes start -->
      <dd>
        <%= @individual_expense_ledger.notes %>
      </dd>
      <!-- Display notes end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@individual_expense_ledger.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@individual_expense_ledger.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
