<h1>
  Edit <%= @expense.name %>
</h1>

<hr>

<form action="/update_expense/<%= @expense.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Title
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @expense.name %>">
  </div>
  
  <div class="form-group">
    <label for="date">
      Date
    </label>

    <input type="date" id="date" name="date" class="form-control" value="<%= @expense.date %>">
  </div>

  <div class="form-group">
    <label for="group_id">
      Group
    </label>

    <%= select_tag(:group_id, options_from_collection_for_select(Group.all, :id, :group_name, @expense.group_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :category_name, @expense.category_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control" value="<%= @expense.amount %>">
  </div>

  <div class="form-group">
    <label for="paid_by">
      Paid by
    </label>

    <%= select_tag(:paid_by, options_from_collection_for_select(@expense.users, :username, :username, @expense.paid_by), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @expense.description %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update expense
  </button>
</form>

<hr>

<a href="/expenses/<%=@expense.id%>">
  Go back
</a>
