<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All expenses
    </h1>

    <a href="/expenses/new" class="btn btn-block btn-outline-secondary">
      Add a new expense
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "expense_templates/expenses_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Group
        </th>

        <th>
          Category
        </th>

        <th>
          Amount
        </th>

        <th>
          Description
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @expenses.each do |expense| %>
      <tr>
        <td>
          <%= expense.id %>
        </td>

        <td>
          <% if expense.group.present? %>
            <a href="/groups/<%= expense.group.id %>">
              <%= expense.group.group_name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if expense.category.present? %>
            <a href="/categories/<%= expense.category.id %>">
              <%= expense.category.category_name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= expense.amount %>
        </td>

        <td>
          <%= expense.description %>
        </td>

        <td>
          <%= time_ago_in_words(expense.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(expense.updated_at) %> ago
        </td>

        <td>
          <a href="/expenses/<%= expense.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @expenses, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
