<!-- Validation failure messages -->
<% if @expense.present? %>
  <% if @expense.errors.any? %>
    <% @expense.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new expense
</h1>


<hr>

<!-- Form expense start -->
<form action="/create_expense" method="post">
<!-- Form expense end -->

  <!-- Label and input for group_id start -->
  <div class="form-group">
    <label for="group_id">
      Group
    </label>

    <!-- Input for group_id start -->
    <%= select_tag(:group_id, options_from_collection_for_select(Group.all, :id, :group_name, @expense.group_id), :class => "form-control") %>
    <!-- Input for group_id end -->
  </div>
  <!-- Label and input for group_id end -->

  <!-- Label and input for category_id start -->
  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <!-- Input for category_id start -->
    <input type="text" id="category_id" name="category_id" class="form-control" value="<%= @expense.category_id %>">
    <!-- Input for category_id end -->
  </div>
  <!-- Label and input for category_id end -->

  <!-- Label and input for amount start -->
  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <!-- Input for amount start -->
    <input type="text" id="amount" name="amount" class="form-control" value="<%= @expense.amount %>">
    <!-- Input for amount end -->
  </div>
  <!-- Label and input for amount end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <textarea id="description" name="description" class="form-control" rows="3"><%= @expense.description %></textarea>
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <button class="btn btn-block btn-outline-secondary">
    Create expense
  </button>
</form>

<hr>

<a href="/expenses">
  Go back
</a>
