<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @expense.name %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/groups/<%=@expense.group_id %>" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>
      
<% if @expense.users.include? current_user %>
      <div class="col">
        <a href="/expenses/<%= @expense.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit expense
        </a>
      </div>

      <div class="col">
        <a href="/delete_expense/<%= @expense.id %>" class="btn btn-block btn-outline-secondary">
          Delete expense
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @expense.name %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @expense.date %>
      </dd>

      <dt>
        Group
      </dt>
      <dd>
        <% if @expense.group.present? %>
          <a href="/groups/<%= @expense.group_id %>">
            <%= @expense.group.group_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <% if @expense.category.present? %>
          <a href="/categories/<%= @expense.category_id %>">
            <%= @expense.category.category_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Amount
      </dt>
      <dd>
        <%= @expense.amount %>
      </dd>

      <dt>
        Paid by
      </dt>
      <dd>
        <%= @expense.paid_by %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @expense.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@expense.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@expense.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "expense_templates/expense_users" %>
  </div>
</div>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h3>
      Summary
    </h3>

    <table class="table">
      <tr>

        <th>
          Username
        </th>

        <th>
          Paid
        </th>
        
        <th>
          Fair share
        </th>

        <th>
          To send
        </th>

        <th>
          To receive
        </th>

        <th>
          Status
        </th>

      </tr>

      <% @expense.users.each do |user| %>
      <tr>

        <td>
          <%= user.username %>
        </td>

        <td>
          $<% if user.username == @expense.paid_by %>
                <%= @expense.amount %>
           <% else %>
                0
           <% end %>
        </td>

        <td>
          $<%= (@expense.amount / @expense.users.count).round(2) %>
        </td>

        <td>
          <% if user.username == @expense.paid_by %>
            $0
          <% else %>
            $<%= (@expense.amount / @expense.users.count).round(2) %>
          <% end %>
        </td>
        
        <td>
          <% if user.username == @expense.paid_by %>
            <a>
              $<%= (@expense.amount - @expense.amount / @expense.users.count).round(2) %>
            </a>
          <% else %>
            <a>
              $0
            </a>
          <% end %>
        </td>
        
        <td>
            <% if user == current_user %>
                <% if Settlement.where({ :user_id => user.id}).where({ :expense_id => @expense.id}).first.present? %>
                    <% if Settlement.where({ :user_id => user.id}).where({ :expense_id => @expense.id}).pluck(:to_receive).first == (@expense.amount - @expense.amount / @expense.users.count).round(2) %>
                        Settled
                    <% else %>
                        <a href = "/" >
                            Update 
                        </a>
                    <% end %>
                <% else %>
                <form action="/create_settlement" method="post">
                    <input type= "hidden" name="user_id" value="<%= user.id %>">

                    <input type="hidden"  name="expense_id"  value="<%= @expense.id %>">

                    <input type="hidden" id="topay" name="to_pay"  value=
                        " <% if user.username == @expense.paid_by %>
                            $0
                        <% else %>
                            <%= (@expense.amount / @expense.users.count).round(2) %>
                        <% end %>
                        "
                    >

                    <input type="hidden" id="toreceive" name="to_receive"  value=
                        " <% if user.username == @expense.paid_by %>
                            <%= (@expense.amount - @expense.amount / @expense.users.count).round(2) %>
                        <% else %>
                            0
                        <% end %>
                        "
                    >

                    <button class= "btn btn-outline-secondary">Settle</button>
                </form>
                <% end %>
            <% end %>
        </td>

      </tr>
      <% end %>
    </table>

  </div>
</div>

<% end %>
