<!-- Validation failure messages -->
<% if @settlement.present? %>
  <% if @settlement.errors.any? %>
    <% @settlement.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new settlement
</h1>


<hr>

<form action="/create_settlement" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @settlement.user_id %>">
  </div>

  <div class="form-group">
    <label for="expense_id">
      Expense
    </label>

    <input type="text" id="expense_id" name="expense_id" class="form-control" value="<%= @settlement.expense_id %>">
  </div>

  <div class="form-group">
    <label for="to_receive">
      To receive
    </label>

    <input type="text" id="to_receive" name="to_receive" class="form-control" value="<%= @settlement.to_receive %>">
  </div>

  <div class="form-group">
    <label for="to_pay">
      To pay
    </label>

    <input type="text" id="to_pay" name="to_pay" class="form-control" value="<%= @settlement.to_pay %>">
  </div>

  <div class="form-group">
    <label for="username">
      Username
    </label>

    <input type="text" id="username" name="username" class="form-control" value="<%= @settlement.username %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create settlement
  </button>
</form>

<hr>

<a href="/">
  Go back
</a>
