<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All groups
    </h1>

    <a href="/groups/new" class="btn btn-block btn-outline-secondary">
      Add a new group
    </a>
  </div>
</div>

<!-- Ransack Code start -->
<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "group_templates/groups_search_form" %>
  </div>
</div>
<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Group name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @groups.each do |group| %>
      <tr>
        <!-- Display group.id start -->
        <td>
          <%= group.id %>
        </td>
        <!-- Display group.id end -->

        <!-- Display group.group_name start -->
        <td>
          <%= group.group_name %>
        </td>
        <!-- Display group.group_name end -->

        <!-- Display group.created_at start -->
        <td>
          <%= time_ago_in_words(group.created_at) %> ago
        </td>
        <!-- Display group.created_at end -->

        <!-- Display group.updated_at start -->
        <td>
          <%= time_ago_in_words(group.updated_at) %> ago
        </td>
        <!-- Display group.updated_at end -->

        <td>
          <a href="/groups/<%= group.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @groups, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
