<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Group #<%= @group.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/groups" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/groups/<%= @group.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit group
        </a>
      </div>

      <div class="col">
        <a href="/delete_group/<%= @group.id %>" class="btn btn-block btn-outline-secondary">
          Delete group
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Group name
      </dt>
      <dd>
        <%= @group.group_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@group.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@group.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "group_templates/group_expenses" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "group_templates/group_categories" %>
  </div>
</div>
