<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @group.group_name %> details
    </h1>

    <% if @group.users.include? current_user %>
    <h4>
      Total Expenses: $ <%=@group.total_exp %>
    </h4>
    <% end %>

    <div class="row mb-3">
      <div class="col">
        <a href="/groups" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/groups/<%= @group.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit group
        </a>
      </div>

      <div class="col">
        <a href="/delete_group/<%= @group.id %>" class="btn btn-block btn-outline-secondary">
          Delete group
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Group name
      </dt>
      <dd>
        <%= @group.group_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@group.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@group.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "group_templates/group_expenses" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "group_templates/group_members" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h3>
      Summary
    </h3>

    <table class="table">
      <tr>

        <th>
          Expenses
        </th>

        <th>
          Date
        </th>
        
        <th>
          Amount
        </th>

        <th>
          You owe
        </th>

        <th>
          Status
        </th>

      </tr>

      <% @group.expenses.each do |expense| %>
      <tr>

        <td>
          <%= expense.name %>
        </td>

        <td>
          <%= expense.date %>
        </td>

        <td>
          $<% if expense.users.include? current_user %>
                <%= @expense.amount %>
           <% end %>
        </td>

        <td>
          $<% if expense.users.include? current_user %>
                <%= (Settlement.where({ :user_id => current_user.id}).where({ :expense_id => expense.id}).pluck(:to_pay).first).to_f - 
                (Settlement.where({ :user_id => current_user.id}).where({ :expense_id => expense.id}).pluck(:to_receive).first).to_f %>
           <% end %>
        </td>
        
        <td>
            <% if expense.users.include? current_user %>
                <% if Settlement.where({ :user_id => current_user.id}).where({ :expense_id => expense.id}).first.present? %>
                    Settled
                <% else %>
                    <a href="/expenses/#{expense.id}">
                        Go settle 
                    </a>
                <% end %>
            <% end %>
        </td>

      </tr>
      <% end %>
    </table>

  </div>
</div>


